<div class="widget">
  <div class="header">
    <div class="title">Long Term Goals</div>
  </div>

 
  <div class="year1">1 year</div>
  <div class="task1">{{ longTermGoal.oneYear }}</div>

  <div class="year5">5 year</div>
  <div class="task2">{{ longTermGoal.fiveYear }}</div>
</div>

<div class="image">
<img  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHcSURBVHgB7dbNUcJQEADg3Wc8edBYQTpQK9B0ECvQDgSUGR0PxpOjDJAOpAOlAighdhAKgOSiB4dk3X0hCIjyk3hjZ2CS95j98l6WbBAKiPCpfEwILgAe8ukeAPlE6CuFrnlV78lvEHJGv1a54yQuZ4qQoMVDERAcMuwAUYAJOuZ14y0XNEaAuvvVpj05Fz6ULDJUhzHADzpSsGZkCAJ2eWNO+rXS3eS8eeMFOExsQLRgBy7Wgr6RxDWrdTs9Vu48jC+iS6TOV4amEe9eJ6w27n/DkLeVv6yVoHlIFsk48Q+MqxCipaG/kMm52ZURkcOr8pequmWRbC7kMRpVoxQKIp4vhFZFshjULjsMnWRz6j8QmZtEYBEyqFUonKmiPHMbZIPo0OXNZVrSZwkGs4nWKe+5UNgsybNIPkAKW+Fj+axoJF0RbR/IgQHk6BbM2OCp8lIkkkLxUK8m/qQeGmQLxnvpcFt+LQpJofSFAsxbzzfLXpRh0vOzbcyLSBjc0gUKsgHB+L7ZNITO6J5BotDKg2iIe/oeJwimRuOtXTTiMSaP+DyIBPL/IOTuFPGh3BtZnaUnuIfAVtyGWD0DJX4eBPSKuM1yUkltMSj9PeD3sh68x23T9fgC4BQKiC/2UL3dqCNbDgAAAABJRU5ErkJggg==" />

</div>